[submodule "WeatherApp"]
	path = WeatherApp
	url = https://github.com/eramos-soriano/WeatherApp
[submodule "NumCounter"]
	path = NumCounter
	url = https://github.com/eramos-soriano/NumCounter
[submodule "todoList"]
	path = todoList
	url = https://github.com/eramos-soriano/todoList
